{% extends "base.html" %}
{% block head %}
    <title>Settings -
        pommento
    </title>
    <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block body %}
    <div class="container mx-auto px-6 sm-px-2">
        {% if billing_error %}
            <div class="flex justify-center">
                <div class="alert text-red-700 bg-red-100 mb-4 alert-closable"
                     role="alert"
                     x-data="{ open: true }"
                     x-show.transition="open">
                    {{ billing_error }}
                    <button class="rounded-l-none btn btn-red btn-sm alert-close"
                            @click="open = false">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
            </div>
        {% endif %}
        {% block main %}{% endblock %}
    </div>
{% endblock %}
