{% extends "base_settings.html" %}
{% load pommento_utils_math %}
{% load pommento_utils_timestamp %}
{% block head %}
    <title>Billing and plans - pommento</title>
    <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block main %}
    <div class="container px-0">
        <div class="">
            <div class="flex justify-between">
                <h1 class="text-2xl md:text-3xl font-semibold text-gray-900">Comments</h1>
            </div>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                No.
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                User
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Date
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Message
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Status
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in comments %}
                            <tr>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ forloop.counter  }}</td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ item.name }}</p>
                                    <p class="text-gray-600 whitespace-no-wrap">{{ item.email }}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ item.created_at }}</td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ item.body }}</td>
                                <td class="px-5 py-5 bg-white text-sm">
                                    <div class="flex flex-col gap-2">
                                        {% if item.status %}
                                            <span class="relative inline-block px-3 py-1 font-semibold text-green-800 bg-green-100 leading-tight rounded">
                                                <span aria-hidden
                                                      class="absolute inset-0 bg-green-100 opacity-50 rounded-full"></span>
                                                <span class="relative">Accepted</span>
                                            </span>
                                        {% else %}
                                            <span class="relative inline-block px-3 py-1 font-semibold text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                <span aria-hidden
                                                      class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                <span class="relative">Pending</span>
                                            </span>
                                        {% endif %}
                                        {% if item.malicious %}
                                            <span class="relative inline-block px-3 py-1 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                <span aria-hidden
                                                      class="absolute inset-0 bg-green-100 opacity-50 rounded-full"></span>
                                                <span class="relative">Malicious</span>
                                            </span>
                                        {% else %}
                                            <span class="relative inline-block px-3 py-1 font-semibold text-green-800 bg-green-100 leading-tight rounded">
                                                <span aria-hidden
                                                      class="absolute inset-0 bg-green-100 opacity-50 rounded-full"></span>
                                                <span class="relative">Safe</span>
                                            </span>
                                        {% endif %}
                                        {% if item.redact %}
                                            <span class="relative inline-block px-3 py-1 font-semibold  text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                <span aria-hidden
                                                      class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                <span class="relative">Redacted</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right">
                                    <div x-data="dropdown()">
                                        <button class="inline-block text-gray-500 hover:text-gray-700"
                                                id="open-color-menu"
                                                x-spread="trigger">
                                            <svg class="inline-block h-6 w-6 fill-current" viewBox="0 0 24 24">
                                                <path
                                                d="M12 6a2 2 0 110-4 2 2 0 010 4zm0 8a2 2 0 110-4 2 2 0 010 4zm-2 6a2 2 0 104 0 2 2 0 00-4 0z"
                                                />
                                            </svg>
                                        </button>
                                        <div x-data="dialog()">
                                            <button class="btn btn-primary hidden" x-spread="trigger" id="{{ item.id }}">Open Dialog</button>
                                            <div class="dialog" x-spread="dialog" x-cloak>
                                                <div class="dialog-content">
                                                    <div class="dialog-header font-semibold text-gray-900 text-lg">
                                                        Comment Details
                                                        <button type="button"
                                                                class="btn btn-light btn-sm btn-icon"
                                                                aria-label="Close"
                                                                @click="close">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 width="24"
                                                                 height="24"
                                                                 viewBox="0 0 24 24"
                                                                 fill="none"
                                                                 stroke="currentColor"
                                                                 stroke-width="2"
                                                                 stroke-linecap="round"
                                                                 stroke-linejoin="round">
                                                                <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="dialog-body text-left">
                                                        <div >
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="font-semibold text-gray-900 text-lg">User Details</div>
                                                                </div>
                                                                <div class="card-body shadow">
                                                                    <div class="flex flex-col gap-0">
                                                                        <p class=" text-gray-900 dark:text-white font-semibold">{{ item.name }}</p>
                                                                        <p class="text-gray-600 dark:text-gray-400">
                                                                            <time>{{ item.email }}</time>
                                                                        </p>
                                                                        <p class="text-gray-600 dark:text-gray-400">
                                                                            <time>{{ item.created_at }}</time>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="text-gray-500 dark:text-gray-400 ml-3">
                                                            </p>
                                                            <div class="card mt-3 shadow ">
                                                                <div class="card-header">
                                                                    <div class="font-semibold text-gray-900 text-lg">
                                                                        Comment
                                                                        {% if item.redact %}
                                                                            <span class="relative text-xs inline-block p-1 ml-2 font-semibold  text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                                                <span aria-hidden
                                                                                      class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                                                <span class="relative">Redacted</span>
                                                                            </span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="card-body ">
                                                                    {{ item.body }}
                                                                </div>
                                                                <div class="card-header border-t">
                                                                    <div class="font-semibold text-gray-900 text-lg">
                                                                        Urls found {{ item.url_intel|length }}
                                                                    </div>
                                                                </div>
                                                                <div class="card-body ">
                                                                    {% for key,value in item.url_intel.items %}
                                                                        <p class="font-semibold inline-block">
                                                                            {{ key }}
                                                                        </p>
                                                                        {% if value == "malicious" %}
                                                                            <span class="relative text-xs inline-block p-1 ml-2 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                                                <span aria-hidden
                                                                                      class="absolute inset-0 text-red-700 bg-red-100 opacity-50 rounded-full"></span>
                                                                                <span class="relative">{{ value }}</span>
                                                                            </span>
                                                                        {% else %}
                                                                            <span class="relative text-xs inline-block p-1  font-semibold text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                                                <span aria-hidden
                                                                                      class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                                                <span class="relative">{{ value }}</span>
                                                                            </span>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="card-header border-t">
                                                                    <div class="font-semibold text-gray-900 text-lg">
                                                                        Domains found {{ item.domain_intel|length }}
                                                                    </div>
                                                                </div>
                                                                <div class="card-body ">
                                                                    {% for key,value in item.domain_intel.items %}
                                                                        <p class="font-semibold inline-block">
                                                                            {{ key }}
                                                                        </p>
                                                                        {% if value == "malicious" %}
                                                                            <span class="relative text-xs inline-block p-1 ml-2 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                                                <span aria-hidden
                                                                                      class="absolute inset-0 text-red-700 bg-red-100 opacity-50 rounded-full"></span>
                                                                                <span class="relative">{{ value }}</span>
                                                                            </span>
                                                                        {% else %}
                                                                            <span class="relative text-xs inline-block p-1  font-semibold text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                                                <span aria-hidden
                                                                                      class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                                                <span class="relative">{{ value }}</span>
                                                                            </span>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="card mt-3 shadow">
                                                                <div class="card-header">
                                                                    <div class="font-semibold text-gray-900 text-lg">
                                                                        User intel
                                                                        {% if item.malicious %}
                                                                            <span class="relative text-xs inline-block p-1 ml-2 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                                                <span aria-hidden
                                                                                      class="absolute text-xs inset-0 text-red-700 bg-red-100 opacity-50 rounded-full"></span>
                                                                                <span class="relative">Malicious</span>
                                                                            </span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="card-body ">
                                                                    <p class="font-semibold">
                                                                        {{ item.email }}
                                                                    </p>
                                                                    {% if item.user_intel_breach %}
                                                                        <span class="relative text-xs inline-block p-1 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                                            <span aria-hidden
                                                                                  class="absolute inset-0 text-red-700 bg-red-100 opacity-50 rounded-full"></span>
                                                                            <span class="relative">Email breach count {{ item.user_intel_breach }}</span>
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="card-body ">
                                                                    <p class="font-semibold">
                                                                        {{ item.ip }}
                                                                    </p>
                                                                    {% if item.ip_intel == "malicious" %}
                                                                        <span class="relative text-xs inline-block p-1 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                                            <span aria-hidden
                                                                                  class="absolute inset-0 text-red-700 bg-red-100 opacity-50 rounded-full"></span>
                                                                            <span class="relative">{{ item.ip_intel }}</span>
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="relative text-xs inline-block p-1  font-semibold text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                                            <span aria-hidden
                                                                                  class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                                            <span class="relative">{{ item.ip_intel }}</span>
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="card mt-3 shadow">
                                                                <div class="card-header">
                                                                    <div class="font-semibold text-gray-900 text-lg">
                                                                        Embargo
                                                                    </div>
                                                                </div>
                                                                <div class="card-body ">
                                                                    <p class="font-semibold">
                                                                        {{ item.ip }}
                                                                    </p>
                                                                    {% if item.embargo %}
                                                                        <span class="relative text-xs inline-block p-1 font-semibold  text-red-700 bg-red-100 leading-tight rounded">
                                                                            <span aria-hidden
                                                                                  class="absolute inset-0 text-red-700 bg-red-100 opacity-50 rounded-full"></span>
                                                                            <span class="relative"
                                                                                  x-data="tooltip()"
                                                                                  x-spread="tooltip"
                                                                                  x-position="right"
                                                                                  title="Countries that are embargoed by the United States include: Cuba, Iran, North Korea, Syria, Crimea region of Russia, Belarus, Donetsk and Luhansk regions of Ukraine">Embargo</span>
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="relative text-xs inline-block p-1  font-semibold text-yellow-800 bg-yellow-100 leading-tight rounded">
                                                                            <span aria-hidden
                                                                                  class="absolute inset-0 bg-yellow-100 opacity-50 rounded-full"></span>
                                                                            <span class="relative">{{ item.ip_intel }}</span>
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="dialog-footer">
                                                        <button type="button" class="btn btn-light" @click="close">
                                                            Close
                                                        </button>
                                                        {% if item.status %}
                                                            <button class="btn btn-light-success" disabled>
                                                                Accepted
                                                            </button>
                                                        {% else %}
                                                            <a href="{% url 'pommento-core:comment_status' id=item.id status='accept' %}"
                                                               class="btn btn-light-success">Accept</a>
                                                        {% endif %}
                                                        <a href="{% url 'pommento-core:comment_status' id=item.id status='delete' %}"
                                                           class="btn btn-light-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-list"
                                             id="color-menu"
                                             x-spread="dropdown"
                                             x-cloak
                                             x-position="left-start">
                                            {% if item.status %}
                                                <a href="#" class="dropdown-item">Accepted</a>
                                            {% else %}
                                                <a href="{% url 'pommento-core:comment_status' id=item.id status='accept' %}"
                                                   class="dropdown-item">Accept</a>
                                            {% endif %}
                                            <a href="{% url 'pommento-core:comment_status' id=item.id status='delete' %}"
                                               class="dropdown-item">Delete</a>
                                            <a @click="document.getElementById('{{ item.id }}').click();"
                                               class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
