{% extends "base_settings.html" %}
{% load pommento_utils_math %}
{% load pommento_utils_timestamp %}
{% block head %}
    <title>Billing and plans - pommento</title>
    <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block main %}
    <div>
        <h1 class="text-2xl md:text-3xl font-semibold text-gray-900">Billing and plans</h1>
    </div>
    <div class="w-full mx-auto xl:w-4/5 mt-5">
        {% if subscription %}<p class="font-semibold mb-2 text-lg">You are a pro member</p>{% endif %}
        <div class="grid grid-cols-1 gap-16 lg:grid-cols-2 sm:gap-8">
            <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
                <div class="flex flex-col justify-between p-6 border-b border-gray-200">
                    <p class="mb-1 text-lg font-semibold text-gray-600">Free</p>
                    <p class="pb-0 my-2 font-mono text-4xl font-extrabold text-gray-600">$0</p>
                    <p class="text-sm text-gray-500">User / month</p>
                    <button class="w-full mt-6 btn btn-dark btn-lg " disabled>Subscribed</button>
                </div>
                <ul class="flex flex-col flex-grow p-6 space-y-3">
                    <li class="flex items-start">
                        <svg viewBox="0 0 20 20"
                             fill="currentColor"
                             class="flex-none w-4 h-4 mt-1 mr-2 text-gray-600">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="text-gray-700">1 Site</span>
                    </li>
                    <li class="flex items-start">
                        <svg viewBox="0 0 20 20"
                             fill="currentColor"
                             class="flex-none w-4 h-4 mt-1 mr-2 text-gray-600">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="text-gray-700">100 Comments</span>
                    </li>
                </ul>
            </div>
            <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
                <div class="flex flex-col justify-between p-6 border-b border-gray-200">
                    <div>
                        <div class="flex items-center justify-between">
                            <p class="mb-1 text-lg font-semibold text-dark-700">Premium</p>
                            <span class="badge bg-primary-light text-dark">Most popular</span>
                        </div>
                        <p class="my-2 font-mono text-4xl font-extrabold text-gray-900">$10</p>
                        <p class="text-sm text-gray-500">User / month</p>
                    </div>
                    {% if subscription %}
                        <button class="w-full mt-6 btn btn-dark btn-lg" disabled>Subscribed</button>
                    {% else %}
                        <button id="add_payment" class="w-full mt-6 btn btn-dark btn-lg">Get started &rarr;</button>
                    {% endif %}
                </div>
                <ul class="flex flex-col flex-grow p-6 space-y-3">
                    <li class="flex items-start">
                        <svg viewBox="0 0 20 20"
                             fill="currentColor"
                             class="flex-none w-4 h-4 mt-1 mr-2 text-gray-600">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="text-gray-700">Unlimited Sites</span>
                    </li>
                    <li class="flex items-start">
                        <svg viewBox="0 0 20 20"
                             fill="currentColor"
                             class="flex-none w-4 h-4 mt-1 mr-2 text-gray-600">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="text-gray-700">Unlimited Comments</span>
                    </li>
                    <li class="flex items-start">
                        <svg viewBox="0 0 20 20"
                             fill="currentColor"
                             class="flex-none w-4 h-4 mt-1 mr-2 text-gray-600">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="text-gray-700">Unlimited Support</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let addPaymentMethodButton = document.getElementById("add_payment")

        if (addPaymentMethodButton !== null) {
            addPaymentMethodButton.addEventListener("click", () => {
                fetch("/billing/subscribe-checkout/create/?success=/settings/billing/&cancel=/settings/billing/")
                    .then((result) => { return result.json(); })
                    .then((data) => {
                        return stripe.redirectToCheckout({sessionId: data.checkout_session_id})
                    })
                    .then((res) => {});
            })
        }
    </script>
{% endblock %}
